html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

body {
    background-color: black;
    color: white;
}

a {
    font-size: 0.32rem;
    color: aquamarine;
}

h1 {
    margin-bottom: 10px;
    font-size: 1rem;
}

.video-container {
    padding: 20px;
}

h2 {
    font-size: 0.84rem;
    font-weight: 300;
    margin-top: 0px;
}

h4 {
    color: gray;
    font-size: 0.42rem;
}